/*body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
*/

/*.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
 */ 

.wrapper {
  padding: 40px 30px 20px 30px;
 /* flex: 1 100%;*/
}

.content {
  padding: 40px 30px 20px 30px;
}

.item-group {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #BFCCD6
}

.group-name {
  position: relative;
  padding: 10px 0px 10px 0px;
}

.item {
  display: inline-block;
  vertical-align: top;
}

.button {
  position:fixed;
  right: 40px;
  bottom: 40px;
}

.footer {
  font-size: smaller;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.overlay {
  background-color: white;
  width: 30%;
  left: 0;
  right: 0;
  padding: 30px 30px 30px 30px;
  text-align: center;
  margin: 10% auto;
}

.config-type {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-top: 25px;
}




.contentRow {
  padding-top: 10px;
  padding-bottom: 10px;
}

.label {
  display: inline-block;  
  width: 350px;
  text-align: right;
  padding-right: 30px;
}

.item2 {
  display: inline-block;
  /*vertical-align: middle; has issues with Switch element*/
}

.basic {
  text-align: right;
}



.logo {
  margin: 40px 0px 20px 0px;
}

 

.center-container {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
}

.spacer {
  margin-top: 10px;
}







/*
ul:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 100px;
}
*/





